/* Global */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

p {
  line-height: 1.6;
}

/* Common */
section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section > h2 {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  display: inline;
}

section > h2::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: -5px;
  left: 0;
}

/* Header */
.header {
  margin-bottom: 20px;
}
.header-nav {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.header-nav-ul li.active {
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  font-weight: 600;
}

.header-nav-ul {
  display: flex;
  color: #cfcfcf;
}

.header-nav-ul li {
  cursor: pointer;
  position: relative;
}

.header-nav-ul li.active .border-bottom {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 2px;
  left: 0;
  transition: width 1s;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -ms-transition: width 1s;
  -o-transition: width 1s;
}

.header-nav-ul li:first-child {
  margin-right: 10px;
}

.header-nav-author a {
  color: rgb(119, 119, 224);
}

/* Home */
#home.home-none {
  display: none;
}

.home-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
}

.home-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.home-item::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(92, 31, 31, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
}

.home-item-icon {
  position: absolute;
  color: #fff;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0.5);
  -ms-transform: translate(-50%, -50%) scale(0.5);
  -o-transform: translate(-50%, -50%) scale(0.5);
  z-index: 100;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}

.home-item:hover::after {
  background-color: rgba(92, 31, 31, 0.7);
}

.home-item:hover .home-item-icon {
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}

.home-item:nth-child(1) {
  background-image: url(../images/img1.jpg);
}

.home-item:nth-child(2) {
  background-image: url(../images/img7.jpg);
}

.home-item:nth-child(3) {
  background-image: url(../images/img2.jpg);
}

.home-item:nth-child(4) {
  background-image: url(../images/img3.jpg);
}

.home-item:nth-child(5) {
  background-image: url(../images/img4.jpg);
}

.home-item:nth-child(6) {
  background-image: url(../images/img5.jpg);
}

.home-item:nth-child(7) {
  background-image: url(../images/img6.jpg);
}

.home-item:nth-child(8) {
  background-image: url(../images/img7.jpg);
}

.home-item:nth-child(9) {
  background-image: url(../images/img1.jpg);
}

/* About */
#about {
  display: none;
}

.about-head {
  margin-bottom: 30px;
}

#about.about-block {
  display: block;
}

.about-content {
  background-color: rgb(92, 31, 31);
  margin-top: 40px;
  padding: 20px;
  display: grid;
  color: rgb(192, 192, 192);
  grid-template-columns: repeat(2, 1fr);
}

.about-content-img {
  width: 60%;
  transform: translate(50px, 0px);
  -webkit-transform: translate(50px, 0px);
  -moz-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  -o-transform: translate(50px, 0px);
}

.about-content-description {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.about-content-description h2 {
  margin-bottom: 30px;
}
.about-content-description p {
  text-align: center;
}

/* Media Query */

/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .home-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
  }
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .header-nav {
    flex-direction: column;
  }

  .header-nav-ul {
    display: flex;
    justify-content: center;
  }

  .header-nav-author {
    display: none;
  }

  .home-items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 250px);
  }
  .about-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-content-img {
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
  }
  .about-content-description {
    padding-right: 0;
  }
  .about-content-description p {
    width: 100%;
  }
}

/* Mobile devices */
@media (min-width: 290px) and (max-width: 480px) {
  .header-nav {
    flex-direction: column;
  }

  .header-nav-ul {
    display: flex;
    justify-content: center;
  }

  .header-nav-author {
    display: none;
  }

  .home-items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 250px);
  }
  .about-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-content-img {
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
  }
  .about-content-description {
    padding-right: 0;
  }
  .about-content-description p {
    width: 100%;
  }
}
